* {
  --black: #282725;

  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  --header-width: calc(100vw - (var(--header-padding-inline) * 2));
  --header-height: 82px;
  --header-padding-inline: 7.57vw;
  --link-list-width: 139px;
  --link-list-height: 40px;
  --link-list-padding: 10px;
  --logo-width: 100px;
  --logo-height: 40px;
  --search-area-width: 242px;
  --search-area-height: 40px;
  --search-button-size: 40px;

  display: flex;
  background: var(--black, #282725);
  color: white;
  inline-size: var(--header-width);
  block-size: var(--header-height);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--header-padding-inline);
  border-bottom: 1px solid rgba(255, 252, 249, 0.1);

  @media (width <= 600px) {
    flex-flow: row wrap;
    block-size: auto;
  }

  .link-list {
    inline-size: var(--link-list-width);
    block-size: var(--link-list-height);
    padding: var(--link-list-padding);
    text-align: center;
    align-content: center;

    a {
      display: inline-block;
      font-size: 16px;
    }

    .sign-in {
      margin-inline-end: 15px;
    }

    .sign-up {
      margin-inline-start: 15px;
    }
  }

  .logo {
    inline-size: var(--logo-width);
    block-size: var(--logo-height);

    @media (width <= 600px) {
      inline-size: 100%;
      margin-block: 10px;
      order: -1;
    }
  }

  .search-area {
    display: flex;
    flex-flow: row nowrap;
    inline-size: var(--search-area-width);
    block-size: var(--search-area-height);

    #search-input {
      inline-size: calc(100% - var(--search-button-size));
      block-size: 100%;
      background: transparent;
      border: 1px solid rgba(255, 252, 249, 0.1);
      caret-color: rgba(255, 252, 249, 0.3);

      &:hover {
        background: rgba(255, 252, 249, 0.05);
      }

      &:focus {
        outline: rgba(255, 252, 249, 0.3) solid 2px;
      }
    }

    .search-button {
      inline-size: var(--search-button-size);
      block-size: var(--search-button-size);
      background: transparent;
      border: 1px solid rgba(255, 252, 249, 0.1);
      border-left: none;

      &:hover {
        background: rgba(255, 252, 249, 0.05);
      }
    }
  }
}

.depth-2-nav {
  --nav-width: calc(100vw - (var(--nav-padding-inline) * 2));
  --nav-height: 195px;
  --nav-padding-inline: 8.3333vw;
  --nav-padding-block: calc((var(--nav-height) - var(--nav-section-height)) / 2);
  --nav-section-width: 180px;
  --nav-section-height: 101px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--black, #282725);
  color: white;
  inline-size: var(--nav-width);
  block-size: calc(195px - (var(--nav-padding-block) * 2));
  padding-inline: var(--nav-padding-inline);
  padding-block: var(--nav-padding-block);

  @media (width <= 1004px) {
    flex-flow: row wrap;
    block-size: auto;
  }

  .depth-2-nav-section {
    inline-size: var(--nav-section-width);
    block-size: var(--nav-section-height);

    h3 {
      font-size: 20px;
      font-weight: 500;
      block-size: 25px;
    }

    li {
      font-size: 15px;
      font-weight: 200;

      &:nth-child(n + 2) {
        margin-block-start: 7px;
      }
    }

    @media (width <= 1004px) {
      margin-block: 10px;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
