:root {
  --black: #282725;
  --hero-bg-color: #f3d6b0;
  --deep-oak: #412311;
  --don-juan: #5f4c4c;
  --pale-brown: #a37356;
  --terra-cotta: #e27762;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

svg,
img {
  display: block;
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.notice-bar {
  --inline-padding: 30px;
  --block-padding: 19px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 34px;
  left: 50%;
  transform: translateX(-50%);
  padding-block: 19px;
  padding-inline: 30px;
  border-radius: 60px;
  z-index: 1;
  background: rgba(226, 119, 98, 0.9);
  max-inline-size: 600px;
  inline-size: calc(100% - (var(--inline-padding) * 2));
  block-size: calc(60px - (var(--block-padding) * 2));

  .notice-icon {
    inline-size: 27px;
    block-size: 24px;
  }

  strong {
    font-size: 16px;
    color: white;
    margin-inline-start: 19px;
    margin-inline-end: auto;
  }

  time {
    font-size: 14px;
    color: white;
    margin-inline-end: 30px;
  }

  .close-button {
    inline-size: 40px;
    aspect-ratio: 1/1;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
  }
}

header {
  --header-width: calc(100vw - (var(--header-padding-inline) * 2));
  --header-height: 82px;
  --header-padding-inline: 7.57vw;
  --link-list-width: 139px;
  --link-list-height: 40px;
  --link-list-padding: 10px;
  --logo-width: 100px;
  --logo-height: 40px;
  --search-area-width: 242px;
  --search-area-height: 40px;
  --search-button-size: 40px;

  display: flex;
  background: var(--black, #282725);
  color: white;
  inline-size: var(--header-width);
  block-size: var(--header-height);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--header-padding-inline);
  border-bottom: 1px solid rgba(255, 252, 249, 0.1);

  @media (width <= 600px) {
    flex-flow: row wrap;
    block-size: auto;
  }

  .link-list {
    inline-size: var(--link-list-width);
    block-size: var(--link-list-height);
    padding: var(--link-list-padding);
    text-align: center;
    align-content: center;

    a {
      display: inline-block;
      font-size: 16px;
    }

    .sign-in {
      margin-inline-end: 15px;
    }

    .sign-up {
      margin-inline-start: 15px;
    }
  }

  .logo {
    inline-size: var(--logo-width);
    block-size: var(--logo-height);

    @media (width <= 600px) {
      inline-size: 100%;
      margin-block: 10px;
      order: -1;
    }
  }

  .search-area {
    display: flex;
    flex-flow: row nowrap;
    inline-size: var(--search-area-width);
    block-size: var(--search-area-height);

    #search-input {
      inline-size: calc(100% - var(--search-button-size));
      block-size: 100%;
      background: transparent;
      border: 1px solid rgba(255, 252, 249, 0.1);
      caret-color: rgba(255, 252, 249, 0.3);

      &:hover {
        background: rgba(255, 252, 249, 0.05);
      }

      &:focus {
        outline: rgba(255, 252, 249, 0.3) solid 2px;
      }
    }

    .search-button {
      inline-size: var(--search-button-size);
      block-size: var(--search-button-size);
      background: transparent;
      border: 1px solid rgba(255, 252, 249, 0.1);
      border-left: none;

      &:hover {
        background: rgba(255, 252, 249, 0.05);
      }
    }
  }
}

.depth-2-nav {
  --nav-width: calc(100vw - (var(--nav-padding-inline) * 2));
  --nav-height: 195px;
  --nav-padding-inline: 8.3333vw;
  --nav-padding-block: calc((var(--nav-height) - var(--nav-section-height)) / 2);
  --nav-section-width: 180px;
  --nav-section-height: 101px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--black, #282725);
  color: white;
  inline-size: var(--nav-width);
  block-size: calc(195px - (var(--nav-padding-block) * 2));
  padding-inline: var(--nav-padding-inline);
  padding-block: var(--nav-padding-block);

  @media (width <= 1004px) {
    flex-flow: row wrap;
    block-size: auto;
  }

  .depth-2-nav-section {
    inline-size: var(--nav-section-width);
    block-size: var(--nav-section-height);

    h3 {
      font-size: 20px;
      font-weight: 500;
      block-size: 25px;
    }

    li {
      font-size: 15px;
      font-weight: 200;

      &:nth-child(n + 2) {
        margin-block-start: 7px;
      }
    }

    @media (width <= 1004px) {
      margin-block: 10px;
    }
  }
}

.hero-beverages {
  --hero-height: 600px;
  --phrase-width: 402px;
  --phrase-height: 397px;
  --beverage-01-width: 283px;
  --beverage-01-height: 428px;
  --beverage-02-width: 283px;
  --beverage-02-height: 428px;
  --beverage-03-width: 223px;
  --beverage-03-height: 361px;

  position: relative;
  background: var(--hero-bg-color, #f3d6b0);
  inline-size: 100vw;
  block-size: var(--hero-height);

  .catch-phrase {
    position: absolute;
    left: 8.264%;
    top: calc(var(--hero-height) * 0.09464);
    inline-size: var(--phrase-width);
    block-size: var(--phrase-height);
    letter-spacing: 0.1em;
    text-align: center;

    p:nth-of-type(1) {
      font-size: 40px;
      block-size: 50px;
      color: var(--pale-brown);
    }

    span {
      position: relative;
      display: inline-block;
      inline-size: 400px;
      color: var(--pale-brown);
      font-size: 40px;

      &:nth-of-type(1) {
        block-size: 50px;

        &::before,
        &::after {
          content: '';
          position: relative;
          bottom: 21%;
          display: inline-block;
          inline-size: 160px;
          border-bottom: 2px solid var(--pale-brown);
        }

        &::before {
          margin-inline-end: 10px;
        }

        &::after {
          margin-inline-start: 10px;
        }
      }

      &:nth-of-type(2) {
        position: relative;
        border-top: 2px solid var(--pale-brown);
      }
    }

    p:nth-of-type(2) {
      font-size: 90px;
      font-weight: 900;
      line-height: 0.9;
      color: var(--terra-cotta);
    }

    p:nth-of-type(3) {
      font-size: 26px;
      padding-block-start: 10px;
      block-size: 33px;
      color: var(--pale-brown);
    }

    .detail-button {
      background: transparent;
      border: 2px solid var(--terra-cotta);
      border-radius: 3px;
      color: var(--terra-cotta);
      margin-block-start: 40px;
      padding-inline: 25px;
      padding-block: 10px;
      inline-size: 128px;
      block-size: 40px;
    }
  }

  .beverage {
    position: absolute;

    .beverage-title {
      position: relative;
      inline-size: 480px;

      .beverage-title-en {
        position: absolute;
        font-size: 28px;
        text-align: center;
        line-height: 1;
        letter-spacing: 0.1em;
        color: var(--deep-oak);
      }

      .beverage-title-ko {
        position: absolute;
        font-size: 21px;
        color: var(--don-juan);
      }
    }

    &:nth-child(2) {
      inline-size: var(--beverage-01-width);
      block-size: var(--beverage-01-height);

      left: 33.402%;
      top: calc(var(--hero-height) * 0.12885);

      .beverage-title {
        top: 360px;
        left: -5px;
      }

      .beverage-title-en {
        min-inline-size: 441px;
        top: -1px;
      }

      .beverage-title-ko {
        inline-size: 270px;
        top: 70px;
        left: 100px;
      }
    }

    &:nth-child(3) {
      inline-size: var(--beverage-02-width);
      block-size: var(--beverage-02-height);

      left: 53.4027%;
      top: calc(var(--hero-height) * 0.0707);

      .beverage-title {
        top: 6px;
        left: -70px;
      }

      .beverage-title-en {
        min-inline-size: 338px;
        top: -1px;
        left: 51px;
      }

      .beverage-title-ko {
        inline-size: 106px;
        top: 39px;
        left: 167px;
      }
    }

    &:nth-child(4) {
      inline-size: var(--beverage-03-width);
      block-size: var(--beverage-03-height);

      left: 73.0555%;
      top: calc(var(--hero-height) * 0.276);

      .beverage-title {
        top: -54px;
        left: -53px;
      }

      .beverage-title-en {
        min-inline-size: 293px;
        top: -1px;
        left: 89px;
      }

      .beverage-title-ko {
        inline-size: 169px;
        top: 70px;
        left: 151px;
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border-width: 0;
}
